*{
    font-style: normal;
}
.menu-principal {
    border-radius: 10px !important;
    padding-left: 50px;
    width: 80%;
    height:30px;
}
.menu-principal li {
    width: 135px;
    height: 30px;
    padding-top: 5px;
}
li.btn-enxoval {
    width: 220px;
    margin-right: 30px;
    margin-left: 30px;
    margin: 0px 10px;
}
li.quarto-banho {
    margin-left: 30px;
    margin-right: 30px;
}

.submenu-roupas, .submenu-calcados, .submenu-enxoval, .submenu-quarto-banho, .submenu-passeio {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: white;
    top:146px;
    left: 0;
    position: absolute;
    z-index: 999999;
    border-top-width:5px;
    border-top-color: #d9b40e;
    border-top-style: solid;
    padding-left: 80px;
}
.submenu-roupas  ul, .submenu-calcados ul, .submenu-enxoval ul, .submenu-quarto-banho ul, .submenu-passeio ul {
    margin-top: 20px;
    color: dimgray;
    width: 250px;
}
.submenu-roupas li, .submenu-calcados li, .submenu-enxoval li, .submenu-quarto-banho li, .submenu-passeio li {
    padding: 5px 0px;
    color: dimgray;
}
.hover-roupas li:hover {
    background-color: dimgray;
    
}
.submenu-roupas .blc-3 ul, .submenu-calcados .blc-3 ul, .submenu-enxoval .blc-3 ul, .submenu-quarto-banho .blc-3 ul, .submenu-passeio .blc-3 ul {
    width: 350px;
}
.btn-roupas:hover {
    background-color: rgba(128, 128, 128, 0.16);
}
.btn-calcados:hover {
    background-color: rgba(128, 128, 128, 0.16);
}
.btn-enxoval:hover {
    background-color: rgba(128, 128, 128, 0.16);
}
.btn-quarto-banho:hover {
    background-color: rgba(128, 128, 128, 0.16);
}
.btn-passeio:hover {
    background-color: rgba(128, 128, 128, 0.16);
}
.barra{
    margin-top: 20px;
    width: 1px;
    height: 300px;
    background-color: #DCDCDC;
}
#half-banners img {
    padding-left: 20px;
}
.owl-item img {
    padding: 0 10px;
}

.busca, .btn-buscar {
    margin-top: 15px;
}
.menu-user {
    margin-top: 15px;
}
.menu-principal{
    margin-top: 15px;
}
.seta-left {
  background-image: url(/arquivos/arrow.png);
  transform: rotate(180deg);
  display: inline-block;
  width: 45px;
  height: 70px;
  position: absolute;
  left: 0;
} 
.seta-carousel-3-left {
  width: 115px!important;
}
.seta-carousel-3-right {
  width: 115px!important;
}
.seta-right {
  background-image: url(/arquivos/arrow.png);
  display: inline-block;
  width: 45px;
  height: 70px;
  position: absolute;
  right: 0;
}
.seta-carousel-2-left {
  width: 55px!important;
}
.pedidos-ico:before {
  margin-bottom: -10px;
}
#newsletterButtonOK {
  width: 170px;
  float: right;
}
#newsletterClientName {
  width: 39%;
  margin-right: 30px;
}
#newsletterClientEmail {
  width: 39%;
}
.newsletter p {
  font-weight: 300;
  font-size: 20px;
  line-height: 16px;
}
#selecionaSku .item-dimension-Cor label{
  padding: 5px 25px!important;
}
#selecionaSku  .item-dimension-Tamanho label:hover {
  border: 1px solid gray;
  color: black!important;
}
#selecionaSku .item-dimension-Cor label{
  width: auto!important;
}
.skuespec_Mescla-verde {
  border: 1px solid #90EE90;
}
.skuespec_Mescla-vinho {
  border: 1px solid #D8BFD8;
}
.pages .first {
    display: none;
}
.pages .last {
  display: none;
}
.page-number {
  padding: 3px 8px;
  margin: 0px 15px;
}
.pgCurrent {
  padding: 3px 8px;
  background-color:#79bb86;
  color:white;
  border-radius:100%;
}
.pager.top {
  display: none;
}
.resultado-busca-filtro {
  margin-bottom: 25px;
}
.sub:nth-child(5) {
    display: none;  
}
.search-single-navigator {
  margin-left: 0px!important;
}
.titulo-departament {
  color: gray;
  margin:15px 0px;
}
#headerFlow .portal-totalizers-ref {
  float: right;
  margin-top: -10px;
  margin-left: 5px;
}
.fixedPedidos .meus-pedidos {
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
}
.fixedPedidos .meus-pedidos span {
    display: block;
}
.nav>li>a>img {
    vertical-align: middle;
    display: inline-block;
}
.categoria .search-multiple-navigator .fa {
  margin-left: 7px;
}
.categoria .prat-categoria .product-name a {
    font-weight: 400;
}
.categoria .prat-categoria .old-price {
    font-size: 14px;
}
.categoria .prat-categoria .best-price {
   font-weight: bold;
   display: block;
   float: left;
}
.categoria .prat-categoria .installment {
    font-weight: bold;
   display: block;
   float: left;
   clear: both;
}
.search-single-navigator {
 
}
.search-multiple-navigator {
  
}
/*INSTITUCIONAL*/
.menu-quemsomos h5, .menu-quemsomos2 h5 {
    background-color: #F6F6F6;
    padding: 10px 0;
    text-align: center;
    border-top: 5px solid #fce376;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.menu-quemsomos li, .menu-quemsomos2 li {
    padding: 7px 0px;
    margin-left: 10px;
}
#institucional h1 {
    margin: 6px 0px 21px;
}
#institucional .news-news {
  display: none;
}
.img-inst1 {
  margin-bottom: 50px;
}
/*FOOTER*/
#inst-footer span {
    margin-top: -2px;
    margin-right: 7px;
}
#inst-footer {
    display: flex;
    flex-direction: row;
}